@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

/* container */

.container {
  width: 1440px;
  margin: 0 70px;
  padding: 0;
}

.main-header {
  width: 50%;
}

.main-info {
  display: flex;
  width: 560px;
  height: 22px;
  font-size: 18px;
  margin-top: 80px;
}

.main-img-logo {
  margin-right: 8px;
  width: 112px;
  height: 60px;
}

.main-img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.main-info p {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  width: 156px;
}

/* content-header */

.content-header {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.text-header {
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 80px;
  width: 630px;
  margin-right: 3%;
}

.subtitle-header {
  width: 414px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.header-img {
  display: flex;
  align-self: end;
  flex-direction: column;
  position: absolute;
  top: 170px;
}

.header-quote {
  width: 490px;
  height: 235px;
  background: #1e4681;
  border-radius: 5px;
  margin: 16% 25%;
}

.director {
  width: 304px;
  height: 320px;
}

.shadow {
  width: 366px;
  height: 25px;
  z-index: -1;
}

.production {
  font-size: 25px;
  color: #fff;
  margin: 40px 40px;
  width: 430px;
}

.production p {
  width: 345px;
  font-weight: 600;
  line-height: 130%;
}

.author {
  text-align: right;
  margin: 2% 18%;
  font-size: 20px;
}

.main-content {
  display: inline-flex;
  flex-direction: column;
  width: 55%;
  min-height: 620px;
}

.sub-title {
  width: 365px;
  height: 93px;
}

/* content-body */

.content-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;
  width: 100%;
}

.sub-title {
  font-family: "Roboto Slab";
  margin-top: 8px;
  width: 240px;
  height: 93px;
  font-size: 55px;
}

.main-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Roboto";
  font-weight: bold;
}

.text {
  width: 640px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
}

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.camera {
  width: 180px;
  height: 179px;
  margin: 0 0 -25px 25px;
}

.camera-shadow {
  width: 211px;
  height: 35px;
  margin: 10px 15px;
  z-index: -1;
}

.main-details {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
}

.light-img {
  display: inline;
  width: 242px;
  height: 203px;
  margin: 10px 20px;
}

.light {
  margin: -35px 10px;
}

.light-shadow {
  position: relative;
  width: 189px;
  height: 32px;
  margin: 20px 30px;
  z-index: -1;
}

.detail-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  margin: 10px 30px;
}

.detail-heading {
  width: 150px;
  height: 39px;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  margin-bottom: 3px;
}

.detail-body {
  width: 150px;
  height: 39px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
}

/* content-info */

.content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
}

.content-info h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
}

.info-body {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}

.vebinar-link {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.vebinar {
  width: 100%;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 12px;
  color: #1e4681;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.vebinar-lesson,
.if,
.question {
  width: 70%;
  font-size: 18px;
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.info-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
}

.info-detail p {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 80px;
  width: 490px;
}

.list-heading {
  width: 667px;
  height: 93px;
  font-family: "Roboto Slab";
  font-weight: 700;
  margin-bottom: 2px;
}

.about-cinema-list {
  width: 662px;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  margin-top: 80px;
}

ul {
  list-style-type: disc;
}

/* content-summary */

.content-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-top: 90px;
}

.content-summary h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 70px;
}

.programme-heading {
  width: 520px;
  font-family: "Roboto Slab";
  font-weight: 700;
  padding-bottom: 100px;
}

.cinema-progress {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 100px;
}

.create {
  flex-wrap: wrap;
  margin-left: 5px;
  width: 380px;
  height: 328px;
  background: #ffffff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 15px;
}

.prise {
  width: 380px;
  height: 160px;
}

.banner {
  width: 300px;
  font-weight: 700;
  font-size: 25px;
  padding-left: 15px;
  margin-bottom: 22px;
  font-family: "Roboto Slab";
}

.banner-title {
  width: 90%;
  font-size: 25px;
  padding-left: 15px;
}

/* content-commentary */

.content-commentary {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 700px;
  background: #efefef;
}

.content-commentary h1 {
  padding-bottom: 50px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 45px;
  margin-left: 70px;
}

.commentary-article {
  display: flex;
  flex-wrap: wrap;
  width: 574px;
  background: #ffffff;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
  border-radius: 30px;
  padding: 10px;
  margin-left: 70px;
}

.commentary-article p {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  margin: 22px;
  width: 510px;
}

.profile {
  float: left;
  width: 140px;
  height: 100px;
  margin-left: 10px;
}

.profile img {
  width: 110px;
}

.address {
  display: flex;
  flex-direction: column;
}

address {
  padding-bottom: 15px;
  width: 300px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 25px;
  margin-top: 21px;
}

.icon {
  width: 32px;
  height: 31px;
}

/* section "price" */

.content-course-detail {
  width: 100%;
  height: 780px;
  background: #9dc9c8;
  padding-top: 180px;
}

.course-date {
  width: 900px;
  height: 100px;
  margin-left: 70px;
}

.course-date h1 {
  width: 770px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 55px;
}

.course-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  margin-left: 70px;
}

.course-price:nth-child(2) {
  font-size: 80px;
  font-weight: 600;
}

.price-heading {
  width: 170px;
  height: 32px;
  font-family: "Roboto";
  font-size: 25px;
}

.course-level {
  display: flex;
  padding-top: 20px;
  margin-left: 70px;
}

.level-content {
  width: 300px;
  padding-top: 10px;
  font-family: "Roboto Slab";
  margin-right: 50px;
}

.level-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
}

.level-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 101.38%;
}

/* content-footer */

.content-footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 30px;
  height: 450px;
}

.footer-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  padding-bottom: 30px;
}

.social-media img {
  padding: 5px 20px 5px 0;
}

.contact-detail {
  display: flex;
  padding-bottom: 20px;
}

.footer-right-side {
  margin-right: 140px;
}

.contact-detail img {
  padding: 0px 20px 0 0;
}

.copyright {
  margin-top: 12vh;
}

/* tablet mode */
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .container {
    width: 834px;
    height: 3800px;
  }

  .main-header {
    width: 100%;
  }

  .main-info {
    width: 35%;
  }

  .main-img {
    width: 12px;
    height: 12px;
  }

  .main-info p {
    width: 490px;
    height: 18px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
  }

  .content-header {
    display: flex;
    flex-wrap: wrap;
  }

  .header-img {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .director {
    width: 176px;
    height: 206px;
  }

  .shadow {
    width: 158px;
    height: 23px;
    z-index: -1;
    margin: -10px 0 0px 32px;
  }

  .header {
    font-size: 45px;
  }

  .text-header {
    width: 363px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 15px;
  }

  .subtitle-header {
    width: 264px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
  }

  .header-quote {
    width: 310px;
    height: 130px;
    border-radius: 11px;
  }

  .production {
    margin: 20px 17px;
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
  }

  .production p {
    width: 190px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
  }

  .author {
    width: 162px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    margin: 20px 95px;
  }

  .main-content {
    width: 60%;
  }

  .main-text .text {
    width: 470px;
    height: 9vh;
    font-size: 18px;
  }

  .main-image {
    margin: 25px 40px;
  }

  .camera {
    margin: -25px 30px;
  }

  .camera-shadow {
    width: 211px;
    height: 34px;
  }

  .main-details {
    display: flex;
    width: 100%;
  }

  .light {
    width: 134px;
    height: 117px;
  }

  .light-shadow {
    width: 109px;
    height: 18px;
  }

  .light-img {
    width: 240px;
    margin-left: 0;
  }

  .detail-txt {
    display: flex;
    flex-direction: column;
  }

  .detail-heading {
    width: 86px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 15px;
  }

  .detail-body {
    width: 86.88px;
    height: 22.59px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 11px;
    line-height: 130%;
  }

  .create {
    width: 240px;
    height: 230px;
  }

  .prise {
    width: 240px;
    height: 110px;
  }

  .banner {
    font-size: 18px;
  }

  .banner-title {
    font-size: 17px;
  }

  .course-price {
    width: 30vw;
  }

  .course-price:nth-child(2) {
    font-size: 70px;
  }

  .address address {
    font-size: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .container {
    width: 90%;
  }

  .info-header h1 {
    width: 350px;
  }
  .main-info > div {
    padding-right: 22px;
  }

  .main-info .info-img {
    font-size: 18px;
  }

  .main-info div {
    font-size: 10px;
  }

  .main-info .time {
    width: 96px;
  }
  .main-info div img {
    width: 4vw;
  }

  .text-header {
    font-size: 30px;
    width: 290px;
  }

  .subtitle-header {
    width: 250px;
    font-size: 10px;
    font-weight: 700;
  }

  .director {
    width: 170px;
    height: 214px;
    margin-bottom: 5em;
    float: right;
  }

  .shadow {
    left: 0em;
    width: 174px;
    float: right;
  }

  .header-img {
    display: block;
  }

  .header-quote {
    width: 300px;
    height: 123px;
    margin-left: 0;
  }

  .production {
    font-size: 12px;
    margin: 20px 14px;
    width: 430px;
  }
  .author {
    text-align: right;
    margin-left: 0;
    font-size: 13px;
    width: 280px;
    height: 30px;
  }
  .header {
    font-size: 30px;
  }

  .main-content {
    width: 72%;
    min-height: 570px;
  }

  .text {
    width: 320px;
    height: 179px;
    font-size: 17px;
  }
  .main-image {
    width: 350px;
  }

  .camera {
    width: 190px;
    height: 226px;
    margin: 0 0 -40px 83px;
  }

  .camera-shadow {
    width: 245px;
    height: 59px;
    margin: 12px 50px;
    z-index: -1;
  }

  .detail-txt {
    margin: 20px 0px;
  }

  .light-img {
    display: none;
  }

  .vebinar-link {
    width: 60%;
    padding-bottom: 35px;
    width: 93%;
  }

  .info-body {
    margin-top: 50px;
  }

  .about-cinema-list {
    width: 350px;
    font-size: 16px;
    font-weight: bold;
  }

  .create {
    width: 300px;
    height: 264px;
  }
  .prise {
    width: 300px;
    height: 123px;
  }

  .banner {
    font-size: 22px;
  }

  .banner-title {
    font-size: 20px;
  }

  .commentary-article {
    width: 350px;
    height: 330px;
  }

  .commentary-article p {
    font-size: 13px;
  }

  .list-heading {
    width: 350px;
  }

  .profile {
    flex-grow: 0;
  }

  address {
    width: 170px;
    font-size: 13px;
  }

  .address {
    flex-grow: 0;
  }

  .profile img {
    width: 70px;
  }

  .course-date h1 {
    width: 300px;
  }

  .course-price {
    width: 350px;
  }

  .course-price:nth-child(2) {
    font-size: 50px;
    font-weight: 600;
  }

  .price-heading {
    font-size: 25px;
  }

  .content-course-detail {
    padding-top: 100px;
  }

  .level-heading {
    font-size: 15px;
    font-weight: bold;
  }

  .level-text {
    font-size: 13px;
  }

  .content-commentary {
    height: 675px;
  }

  .content-course-detail {
    height: 500px;
  }

  .content-footer {
    width: 540px;
    height: 550px;
    padding: 5px;
  }

  .footer-logo {
    padding-bottom: 10px;
  }

  .social-media {
    width: 100%;
  }

  .social-medial img {
    padding: 5px 10px 5px 0;
  }

  .footer-container .container {
    flex-direction: column;
    justify-content: space-evenly;
    display: inline;
    flex-direction: column;
  }

  .footer-left-side {
    position: absolute;
    margin-top: -35px;
    display: block;
  }

  .contact {
    margin-top: 40vw;
    font-size: 25px;
  }

  .contact-detail img {
    width: 40px;
    height: 20px;
  }

  .copyright {
    margin-top: 70vw;
  }
}
